body {
    background-color: #EEEEEE;
}

#container {
  position: relative;
}
#container canvas, #crosscanvas {
  position: absolute;
}
canvas {
  border: 1px solid black;
  #tempLabel, #dateLabel {
  	position: absolute;
  }
}
